---
layout: default
title: Home
nav-area: home
---

<header class="intro">
  <h1>Tagline about how awesome we are</h1>
  <p>Lorem ipsum dolor sit amet...</p>
</header><!-- end of section.intro -->

<div class="projects-blurb">
  <h2>Our projects</h2>
  <ul class="listing">
    {% assign projects = site.projects | where: "featured", "true" | sort: 'featured-priority' %}
    {% for project in projects %}
    <li>
      <h3>{{ project.title }}</h3>
      <a href="{{ project.url }}">Learn about {{ project.title }}</a>
    </li>
    {% endfor %}
  </ul>
  <a href="{{ repository_url }}/projects" class="direct-to-section">Learn about more of our projects</a>
</div><!-- end of div.projects-blurb -->

<div class="articles-blurb">
  <h2>Our articles</h2>
  <ul class="listing">
    {% assign articles = site.articles | sort: 'listing-priority' %}
    {% for person in articles %}
    <li>
      <h3>{{ person.first-name }} {{ person.last-name }}</h3>
      <p>{{ person.job }}</p>
      <a href="{{ person.url }}">Read {{ person.first-name }} {{ person.last-name }}'s bio</a>
    </li>
    {% endfor %}
  </ul>
  <a href="{{ repository_url }}/articles" class="direct-to-section">Learn more about our articles</a>
</div><!-- end of section.articles-blurb -->
